AddDefaultCharset UTF-8

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^edit/([^/\.]+)/?$ edit.php?id=$1 [L]
RewriteRule ^order/([^/\.]+)/?$ order.php?id=$1 [L]
RewriteRule ^smart/([^/\.]+)/?$ smart-view.php?id=$1 [L]

RewriteRule ^orders/([^/\.]+)/?$ orders.php?page=$1 [L]

RewriteRule ^([^\.]+)$ $1.php [NC,L]